
html, body {

	background-color: #FFF;

	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	text-align: center;

	font-size: 12px;

	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	color: #000;

}


#container {
	
	background-color: #FFF;

	position: relative;

	margin: 0 auto;

	width: 95%;

	text-align: left;

}

#content{

	width: 400px;

	margin-left: 20px;
	margin-right: 20px;

	background-color: #F00;

	padding: 0;


	/*border: 1px solid #000;*/

}

.clearer
{
	clear: both;
}

img{
	border: none;
}

span{
	font-weight: bold;
}

h1{
	color: #000;
	font-weight: normal;

	padding: 0;
	margin: 0;


}

a:link { color : #000; text-decoration: underline; }
a:active { color : #000; text-decoration: underline;   }
a:visited { color : #000; text-decoration: underline;  }

a:hover { text-decoration: none; color : #000; }

.animation
{
	float: left;
	
	width: 15%;
	min-width: 250px;
	
	border: 1px solid #000;
	margin: 2px;
	padding: 2px;
}

.StatusNONE
{
	background-color: #FFF;
}

.StatusIN_PROGRESS
{
	background-color: orange;
}

.StatusTESTING
{
	background-color: yellow;
}

.StatusIMPLEMENTED
{
	background-color: green;
}

.Stage0, .Stage1
{
	height: 200px;
	border-right: 5px solid #FFF;
}

.Stage2
{
	height: 130px;
	clear: right;
	
	border-right: 5px solid #000;
}

.operationBox
{
	width: 100%;
	
	padding-bottom: 40px;
	border-top: 2px solid #00F;
}

.operationBox h1
{
	width: 100%;
}

.error
{
	background-color: #F00;
}

.errorEntry
{
	color: #FFF;
	border: 1px solid #FFF;
	padding: 5px;
}

.todoEntry
{
	background-color: #00F;
	color: #FFF;
	
	padding: 2px;
}